body {font-family: Helvetica;}

h1{font-family:Helvetica; font-size:100px;
  font-weight:bold; color:khaki; text-align: center; background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")}

  h2{font-family:Helvetica; font-weight: bold; font-size:32px; color:white;}

.brushes h2 {background-color: mediumspringgreen;}

.paint h2 {background-color: skyblue;}

.frames h2 {background-color: lightcoral;}

.class bluebold {color:blue; font-weight: bold;}
